* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

#root {
  height: 100%;
  background: #272a31;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hls-container  {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
}

.hls-container > div {
  flex: 0 0 50%;
}

.actions:empty {
  display: none;
}

.actions > div {
  cursor: pointer;
}

.snapshots {
  height: 240px;
  display: flex;
  overflow-x: auto;
  gap: 8px;
}

.snapshots img  {
  object-fit: contain;
}

.snapshots:empty {
  display: none;
}

.file-container {
  height: 240px;
}

.file-container img {
  height: 240px;
  width: auto;  
}